extends layout

block content
  body(style="background-color: #00bab0;")
    div#body
      div.center-container
        img#prelo-logo(src="./images/logo.png",alt="Logo Prelo")
        form.form-horizontal(action="/", method="POST",onsubmit="return validateForm();")
          div.row
            div.col-lg-12
              div.form-container
                input.form-control#input-username(type="text",placeholder="Email atau Username",name="userNameInput")
                small#error-username Email atau Username minimal 4 karakter
            div.col-lg-12
              div.form-container
                input.form-control#input-password(type="password",placeholder="Password",name="passwordInput")
                small#error-password Password minimal 6 karakter
            div.col-lg-12
              button.form-control.btn.btn-primary(type="submit")
                | Log In
              div.right-container
                a(href="#")#lupa-password Lupa password?
        div#sosmed-login
          div.row
            div.col-lg-12
              div.form-container
                a.btn.btn-primary#fb(href="#", onclick="$('#error-fb').show();")
                  i(style="font-family: 'fontello';") &#xf09a;
                  span(style="padding-left:10px")  Log in dengan facebook
                small#error-fb Still in Development
            div.col-lg-12
              div.form-container
                a.btn.btn-primary#tw(href="#", onclick="$('#error-twit').show();")
                  i(style="font-family: 'fontello';") &#xf099;
                  span(style="padding-left:10px")  Log in dengan twitter
                small#error-twit Still in Development
            div.col-lg-12
              p#sosmed-desc
                | Prelo tidak akan post apapun tanpa persetujuan kamu
        div#sign-up
          div.row
            div.col-lg-12
              p#sign-up-desc
                | Belum Punya ID Prelo?
                a(href="#")
                  b  Daftar sekarang
  script.
    var validateForm = function() {
      var valid = true;
      if ($('#input-username').val().length < 4) {
        valid = false;
        $('#error-username').show();
      }
      if ($('#input-password').val().length < 6) {
          valid = false;
          $('#error-password').show();
      }
      return valid;
    }
